<div class="form-group">
	<label class="{labelclass}
							 {labelwidth}                              /*! 标题宽度 */
	">{labeltitle}</label>
	<div class="input-group">
	       <div class="input-group-addon">
	      		 <i class="fa fa-leaf"></i>
	       </div>
		    <select   {multiple} /*! 多选 */
		    			    {disabled} /*! 禁用*/
		    			    {datasize}     /*! 列表显示行数*/
		    			    {datawidth}/*! 指定宽度*/
						    {datastyle}                                   /*! 色彩样式 */
						    {datashowsubtext}                            /*! 显示列表 小标题*/ 
						    {datalivesearch}                                  /*! 搜索输入 */
						    {title}         /*! 提示信息 */
						    {dataconformat}                              /*! 多选:COUNT统计 */
						    class="
						    {selectpicker}                                    /*! 主体样式1与样式2*/
						    {formcontrol}                                     /*! 面板样式：必需 */
						    {showtick}    /*! 钩选列表 */
						    {showarrow}">                                     /*! 下拉列表带指示箭头 */ 
		        {optgroup-head}  /*! C-列表分组及标题*/
		            <option {value}  /*! 值*/
		                           {dataicon}                                /*! 列表图标*/
								   {datacontent}                      /*! 列表文字及背景颜色*/
		                           {datasubtext}                        /*! 小标题，需开启 data-show-subtext*/
		            > {datatext}</option>
		         {optgroup-foot}                       /*! C-foot*/
		    </select>	
		{inputicon-foot} /*! B-foot*************** */ 
</div>


<div class="{formgroup} controltype = {controltype} "><label for={controlName} class="{labelclass} {labelwidth}">{labeltitle}</label>
	  {inputicon-head}<select {controlName} {multiple} {disabled} {datasize} {datawidth} {datastyle} {datashowsubtext} {datalivesearch} {title} {dataconformat} class=" {selectpicker} {formcontrol} {showtick} {showarrow}">
	      {optgroup-head}<option {value} {dataicon} {datacontent} {datasubtext} > {datatext}</option>{optgroup-foot} 
	  </select>{inputicon-foot}
</div>


<div class={formclass}  controltype = {controltype} ><label for={controlName} class= {labelclass}> {labelcaption} <span class={require}> {requiretext }</span> </label>
    '<div class={iconinput}><i data-hover={icondatahover} originaltitle = {iconoriginaltitle} class={iconclass}></i> >' + 
    '<input id={controlName} type={type}  placeholder={placeholder} controlclass={controlclass} /> >' + 
    '</div> > </div>" }]}';
    
    
<div class="form-group">
		<label for="" 
			class="control-label"
			>Text
		</label>
		<input 
			type="text"  email,password
			name="text" 
			equalTo="#password" 
			minlength="5"
			maxlength="10"
			class="form-control 
			required
			email,password,url,number
			"/>
</div>

    
    
    